<h1>Editing user</h1>
<% form_for @user do |f| %>

<%= render :partial => 'form', :locals => {:f => f} %>

<p><%= f.submit %></p>
<% end %>
<p>
  <%= link_to "Show", @user %> |
  <%= link_to "View All", users_path %>
</p>
